# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
*.egg-info
*.egg

# OS
*~
.DS_Store

# vim
*.swp

# Jupyter notebooks
.ipynb_checkpoints

# Moltemplate
output_ttree
